// Include compass
@import "compass/css3";


// Grid - http://zengrids.com
@import "zen";

$zen-column-count: 12; // Set the total number of columns in the grid.
$zen-gutter-width: 0; // Set the gutter size. A half-gutter is used on each side of each column.

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;  

  border: 5px solid darken(#bad455, 15%);

  @include box-sizing(border-box);
}

%basic-element {
  position: absolute;
  overflow: hidden;

  border: 1px solid darken(#bad455, 15%);
  padding: 20px;

  background-color: #bad455;
  text-align: center;

  @include box-sizing(border-box);
}

%basic-element-25 {
  width: 25%;
  height: 25%;
}

%basic-element-50 {
  width: 50%;
  height: 50%;
}


@mixin create-box($pos-x,$pos-y, $width, $height) {
  position: absolute;
  top: $pos-x;
  left: $pos-y;

  padding: 20px;
  width: $width;
  height: $height;

  background-color: #bad455;
  border: 1px solid darken(#bad455, 15%);
  text-align: center;

  @include box-sizing(border-box);
}

.button-1 {
  @include create-box(10%, 10%, 30%, 20%);
}

.button-2 {
  @include create-box(10%, 55%, 30%, 20%);
}

.button-3 {
  @include create-box(55%, 10%, 30%, 20%);
}

.button-4 {
  @include create-box(55%, 55%, 30%, 20%);
}

.button-floated {
  float: left;

  height: 7.45em;
  width: 10%;

  background-color: #bad455;
  border: 1px solid darken(#bad455, 15%);
  line-height: 7.45em;
  text-align: center;

  @include box-sizing(border-box);
}

.categories {
  @extend %basic-element;
  @extend %basic-element-50;

  top: 0;
}

.products {
  @extend %basic-element;
  @extend %basic-element-50;


  bottom: 0;

  width: 50%;
}

.orders {
  @extend %basic-element;
  @extend %basic-element-50;


  right: 0;
  bottom: 0;
}

.logs {
  @extend %basic-element;
  @extend %basic-element-50;

  right: 0;
  top: 0;
}
